* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
    font-size: 25px;
}

.stata {
    height: 8vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mps {
    background-color: cadetblue;
    height: 60vh;
    overflow: hidden;
}

.fon {
    height: 100%;
    position: relative;
    /* right: 560px; */
}

.mops {
    width: 20%;
    position: absolute;
    top: 480px;
    left: 55px;
}

.touch {
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.touch-me {
    width: 40%;
    height: 20%;
    border-radius: 25px;
    font-size: 20px;
}